.pink_________btn {
  background-color: #FF7495 !important;
}

.px________pading {
  padding: 40px 15px !important;
}

body {
  position: relative;
  // font-family: Poppins;
  // height: 100vh;
  font-family: 'Poppins';
  // font-size: 22px;
  background-image: url('./bg.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100% !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Poppins !important;
  }

  b {
    font-family: Poppins !important;
  }
}

.Fist__back__img {
  top: 75px;
  left: 100px;
  width: 280px;
  height: 250px;
  position: fixed;
}

.scond__back__img {
  opacity: 1;
  top: 75px;
  right: 0px;
  width: 185px;
  height: 200px;
  position: fixed;
  z-index: -0;
}

.wrapper___code {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  width: 10%;
}

.tabs___inner {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;

  button {
    margin: 0px 10px;
  }
}

.boxWrapper__upper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.Staking__Pool__wrapper {
  width: 90%;
  padding: 80px 0px;
  z-index: 9;

  .boxInner__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo____header {
      position: relative;

      img {
        width: 45px;
        height: 45px;
        border-radius: 100%;
      }

      .first____img {
        z-index: 99;
        position: absolute;
        left: 5px;
        top: -7px;
      }

      .scond____img {
        margin-left: 40px;
      }
    }

    h4 {
      // font: normal normal bold 24px/26px Poppins !important;
      font-family: Poppins;
    }
  }

  .boxInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  img {
    width: 58px;
    height: 58px;
    border-radius: 100%;
  }

  h1 {
    text-align: left;
    font: normal normal medium 30px/46px Poppins;
    letter-spacing: 0px;
    color: #565555;
    opacity: 1;
  }

  .boxWrapper {
    background: transparent linear-gradient(125deg, rgb(183 230 163 / 6%) 0%, rgb(93 83 83 / 7%) 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px rgb(0 0 0 / 16%);
    border: 1px solid rgba(255, 255, 255, 0.1490196078);
    border-radius: 20px;
    opacity: 1;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    padding: 30px 30px 30px;
    width: 45%;
    margin: 20px 0px;

    .box__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .box__footer__inner b {
        text-align: left;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.36px;
        color: #565555;
        opacity: 1;
      }

      .box__footer__inner h5 {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.5px;
        color: #FF82A0;
        opacity: 1;
        margin: 10px auto;
      }

      button {
        background: transparent linear-gradient(70deg, #FF749580 0%, #A0DF86 100%) 0% 0% no-repeat padding-box;
        border-radius: 11px;
        opacity: 1;
        border: 0px;
        color: black;
        padding: 13px 35px;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 500;
        cursor: pointer;
      }

      button.Unstack {
        background: #BABABA 0% 0% no-repeat padding-box;
        border-radius: 11px;
        opacity: 1;
        color: white;
      }
    }

    .boxRedHeading {
      text-align: left;
      letter-spacing: 0.64px;
      color: #FF82A0;
      opacity: 1;
    }

    .timeeee {
      text-align: left;
      // font: normal normal bold 32px/48px Poppins;
      letter-spacing: 0.64px;
      color: #565555;
      font-family: Poppins;


      span {
        color: #FF82A0;
      }
    }
  }

  // First Tab End 




  .boxWrapper__tow {
    padding: 0px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .boxWrapper__tow__inner {
    background: transparent linear-gradient(125deg, rgb(183 230 163 / 6%) 0%, rgb(93 83 83 / 7%) 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px rgb(0 0 0 / 16%);
    border: 1px solid rgba(255, 255, 255, 0.1490196078);
    backdrop-filter: blur(17px);
    padding: 45px 20px 0px;
    border-radius: 20px;
    border-radius: 20px;
    width: 32%;
    opacity: 1;

    .boxInner__top {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 58px;
        height: 58px;
        border-radius: 100%;
      }

      .logo____header {
        position: relative;

        img {
          width: 45px;
          height: 45px;
          border-radius: 100%;
        }

        .first____img {
          z-index: 99;
          position: absolute;
          left: 5px;
          top: -7px;
        }

        .scond____img {
          margin-left: 40px;
        }
      }
    }

    h3 {
      text-align: center;
      letter-spacing: 0.64px;
      color: #FF82A0;
      opacity: 1;
      margin-bottom: 50px;
    }

    .button___boxxx {
      margin: 20px auto 40px;

      .roww___ {
        margin-bottom: 10px;
      }

      button {
        background: transparent linear-gradient(83deg, #FF749580 0%, #A0DF86 100%) 0% 0% no-repeat padding-box;
        border-radius: 11px;
        width: 100%;
        padding: 10px 0px;
        text-align: center;
        font: normal normal bold 16px/25px Poppins;
        letter-spacing: 0px;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 500;
        color: #565555;
      }

      .roww___ {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h5 {
          color: #565555;
        }

        h6 {
          text-align: center;
          font: normal normal 600 20px/20px Poppins;
          letter-spacing: 0.5px;
          color: #FF82A0;
          opacity: 1;
          margin: 0px;
        }
      }
    }
  }

}



// Buttons


button.active {
  text-align: left;
  font: normal normal normal 20px/30px Poppins;
  letter-spacing: 0px;
  color: #565555;
  text-transform: capitalize;
  opacity: 1;
  border: 0px;
}

button {
  text-align: left;
  // font: normal normal normal 20px/30px Poppins;
  letter-spacing: 0px;
  color: #BABABA;
  text-transform: capitalize;
  opacity: 1;
  opacity: 1;
  border: 0px;
  background: none;

  padding: 10px 35px;
  font-size: 17px;
  font-family: Poppins;
  font-weight: 500;
}


// Modal 



.modal-overlay {
  // z-index: 9999;
  // position: absolute;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;


  background: #1A101A 0% 0% no-repeat padding-box;
}

.modal-box {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: transparent linear-gradient(221deg, #EBE5E5 0%, #E3DDE1 86%, #EAE4E4 100%) 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 6px #00000029;
  border-radius: 20px;
  opacity: 1;
}


.divider {
  width: 1px;
  height: 80px;
  border-right: 1px solid #BABABA;
}


body .modal___________content {
  // width: 645px;
  // height: 475px !important;
  /* UI Properties */
  background: transparent linear-gradient(221deg, #EBE5E5 0%, #E3DDE1 86%, #EAE4E4 100%) 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 6px #00000029;
  border: 2px solid pink;
  border-radius: 5px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px 0px;

  img {
    margin-bottom: 30px;
  }

}


@media screen and (max-width: 1024px) {
  .Staking__Pool__wrapper .boxWrapper {
    width: 48%;
    margin: 10px auto;
    padding: 25px 10px 15px;
  }
}

@media screen and (max-width: 800px) {
  .Staking__Pool__wrapper {
    padding: 10px 10px;

    .boxWrapper__tow__inner {
      width: 32%;
    }

    .boxWrapper {
      padding: 5px 15px 15px;
      width: 46%;
      margin: 5px auto;

      .timeeee {
        font-size: 20px;
      }

      .boxRedHeading {
        font-size: 20px;
      }

      .box__footer {
        button {
          padding: 10px 25px;
          font-size: 15px;
        }

        .box__footer__inner {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          b {
            text-align: left;
            font-weight: 500;
            font-size: 15px;
            letter-spacing: 0.36px;
            color: #565555;
            opacity: 1;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {

  .Staking__Pool__wrapper {
    .boxWrapper__tow {
      .boxWrapper__tow__inner {
        width: 43%;
        margin: 10px auto;
      }

      flex-wrap: wrap;
    }

    .boxWrapper {
      padding: 25px 15px 15px;
      width: 100%;
      margin: 5px auto;
    }
  }
}

@media screen and (max-width: 500px) {

  .tabs___inner {
    justify-content: space-between;

    button {
      padding: 0px;
      font-size: 15px;
    }
  }

  .Staking__Pool__wrapper {

    .boxWrapper__tow {
      .boxWrapper__tow__inner {
        width: 100%;
        margin: 10px auto;
      }

      flex-wrap: wrap;
    }

    .boxInner__top {
      margin-bottom: 20px;
    }

    .boxWrapper {
      padding: 15px 10px 25px;
      margin: 5px auto;

      .timeeee {
        font-size: 15px;
      }

      .boxRedHeading {
        font-size: 15px;
      }

      .box__footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        .divider {
          width: 80%;
          height: 1px;
          margin: 30px auto 20px;
          border-right: 0px;
          border-bottom: 1px solid #565555;
        }
      }
    }
  }
}


@media screen and (max-width: 260px) {
  button {
    font-size: 15px;
  }
}


.logo____header {
  position: relative;

  img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
  }

  .first____img {
    z-index: 99;
    position: absolute;
    left: 5px;
    top: -7px;
  }

  .scond____img {
    margin-left: 40px;
  }
}

.modal___btn {
  font-size: 15px !important;
  height: 45px !important;
  width: 110px;
}